---
import Layout from "../layouts/Layout.astro";

import { 
  SectionContainer, 
  SkillContainer, 
  Projects, 
  CodeIcon, 
  GitHub, 
  LinkedIn, 
  Mail, 
  Tools, 
  User, 
  SocialPill,
} from '../components'

---

<Layout
  title="Portfolio AbrahamHC - Desarrollador y Programador Web"
  description="AbrahamHC es un apasionado desarrollador web con 1 año de experiencia en la creación de sitios web modernos, eficientes y atractivos. Cuenta con una amplia gama de tecnologías, incluyendo HTML, CSS, Tailwind, JavaScript, Typescript Node js, MongoDB, PostgreSQl y Nest js."
>
  <main class="max-w-full">
    <SectionContainer class="py-44 pb-24 justify-center items-center">
      <img
        class="size-16 lg:size-20 p-1 mb-4 rounded-full ring-2 ring-red-600"
        src="/AbrahamPhoto.jpg"
        alt="abrahamHC photo"
      />

      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy AbrahamHC
      </h1>
      <h2 class="text-xl text-wrap opacity-80 mb-8 max-w-[700px]">
        <span class="text-yellow-400 font-bold">Desarrollador Web</span> de México.
        Comprometido en mejorar mis habilidades de programación día a día, me encanta
        trabajar en proyectos prácticos para aplicar lo que aprendo.
      </h2>

      <nav class="flex gap-4 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/abraham-hernández-c"
        >
          <LinkedIn class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/AbrahamSHD">
          <GitHub class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:hernandez.c.abraham.00@gmail.com">
          <Mail class="size-6" />
          hernandez.c.abraham.00@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>

    <SectionContainer
      class="flex flex-col sm:flex-col md:flex-row lg:flex-row gap-8 content-center"
      id="sobre-mi"
    >
      <section>
        <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
          <User class="size-7" />
          Sobre mí
        </h2>

        <p class="text-pretty text-gray-600 dark:text-gray-300">
          Me llamo Abraham Hernández. Empecé en la programación gracias a la
          preparatoria, donde tenía 15 años.<strong class="text-amber-400">
            Actualmente estoy creciendo de manera autodidacta, creando proyectos en solitario desde el Forntend hasta el Backend.</strong
          >
        </p>
        <p class="text-pretty text-gray-600 dark:text-gray-300">
          Mis habilidades las he desarrollado haciendo páginas como proyectos
          personales. <strong class="text-amber-400"
            >Aunque no he tenido proyectos por los que haya obtenido
            remuneración sigo creciendo como programador a travéz de cursos y
            actividades</strong
          >
        </p>
        <p class="text-pretty text-gray-600 dark:text-gray-300">
          Estoy comprometido con la excelencia en todo lo que hago, buscando
          constantemente mejorar y superar los desafíos que se presenten en el
          camino hacia la realización de mi visión.<strong
            class="text-amber-400"
          >
            Mi objetivo como programador es utilizar mi pasión por la tecnología
            para crear un impacto positivo en el mundo.</strong
          >
        </p>
      </section>

      <img
        class="rounded h-72 self-center p-1 mb-4 ring-4 ring-gray-600"
        src="/AbrahamPhoto.jpg"
        alt="Foto de perfil de Abraham"
      />
    </SectionContainer>

    <SectionContainer
      id="skills"
      class="box-border flex flex-col sm:flex-col md:flex-col lg:flex-col sm:h-40 md:h-64 sm:mb-32"
    >
      <section class="mar">
        <h2
          class="w-full text-2xl font-semibold mb-6 flex gap-x-3 items-center"
        >
          <Tools class="size-7" />
          Skills
        </h2>
      </section>

      <SectionContainer
        class="flex flex-col sm:flex-row md:flex-row lg:flex-row justify-center gap-6"
      >
        <section
          class="flex flex-wrap gap-4 justify-evenly sm:w-[50%] md:w-[50%] lg:w-[50%]"
        >
          <SkillContainer />

        </section>

        <section
          class="sm:ml-4 md:ml-4 lg:ml-4 flex flex-col gap-6 w-full sm:w-[50%] md:w-[50%] lg:w-[50%]"
        >
          <p
            class="bg-gray-700/50 text-center p-4 rounded w-auto sm:text-sm md:text-base lg:text-lg rotate-1"
          >
            Conocimientos en desarrollo Forntend y  Backend con Typescript y Node.
          </p>
          <p
            class="bg-gray-700/50 text-center p-4 rounded w-auto sm:text-sm md:text-base lg:text-lg -rotate-2"
          >
            Experiencia en diseño responsivo.
          </p>
          <p
            class="bg-gray-700/50 text-center p-4 rounded w-auto sm:text-sm md:text-base lg:text-lg rotate-1"
          >
            Gestión eficaz de versiones y colaboración con Git y GitHub.
          </p>
        </section>
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
