
<article class=" w-full bg-slate-400/50 flex flex-row">

  <section>
    <h1>SDKNFÑALKSJDNFLÑ</h1>
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam nihil voluptatem facere magnam sapiente quae at eius, animi id reprehenderit aliquam optio laudantium natus quisquam accusantium minima molestiae blanditiis!</p>
  </section>

  <img src="../../public/projects/BlackJackJuego.jpg" alt="" class=" w-24 ">

</article>
