---
const { class: className, id } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 px-4 mx-auto container lg:max-w-4xl md:max-w-2xl sm:w-full mb-20 sm:mb-20 md:mb-32`}
>
  <slot />
</section>
